<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <meta charset="UTF-8">
  {% block stylesheets %}{% endblock %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/css.css">
</head>
<body>
{#<header>
  <div class="infobar">шапка</div>
</header>
<br>#}
  <div class="container print">
    <div class="row primary-container print">
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 paper print">
        {% for page in pages %}
          <div class="page print">{{page|md2html|headlink}}</div>
        {% endfor %}
      </div>
    <div class="clearfix hidden-lg"></div>
    <div class="col-lg-4 aside">
      <aside>
        <div class="print-left">
          <a class="btn btn-primary btn-lg" href="print" target="_blank">
            <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
            Распечать...
          </a>
        </div>
        <div>
          {% for link in links %}
            <a href="{{link|anchor}}">{{link}}</a><br>
          {% endfor %}
        </div>
        <div class="index-maintain">
          {{maintain|md2html}}
        </div>

      </aside>
    </div>
  </div>
</div>
  <div class="footer">&nbsp;</div>

</body>
</html>










